// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.flag {
    border: 1px black solid;
    border-radius: 5px;
}