{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}
    <form action="{{ url_for('change') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Old Password*" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password2" placeholder="New Password*" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
