{% extends "layout.html" %}

{% block title %}
    Live Currency Follow
{% endblock %}

{% block main %}

<!-- TradingView Widget BEGIN -->
<center><span id="tradingview-copyright"><a ref="nofollow" target="_blank" href="http://www.tradingview.com" style="color: rgb(173, 174, 176); font-family: &quot;Trebuchet MS&quot;, Tahoma, Arial, sans-serif; font-size: 13px;">Forex Quotes by <span style="color: #3BB3E4">TradingView</span></a></span>
    <script src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js">{
      "currencies": [
        "EUR",
        "USD",
        "JPY",
        "GBP",
        "CHF",
        "AUD",
        "CAD",
        "CNY",
        "TRY"
      ],
      "width": "770",
      "height": "400",
      "locale": "en"
    }</script></center>
<!-- TradingView Widget END -->

{% endblock %}