/* allow map to fill viewport */
html, body, #map-canvas, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}

/* center form */
#form
{
    /* position form "absolutely" where we want it */
    position: absolute;

    /* distance from top edge of viewport */
    top: 28px;

    /* form's width */
    width: 100%;
}
#form .form-group
{
    /* block-level flex container */
    display: flex;

    /* center container's content */
    justify-content: center;
}

/* stylize text box */
#q
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* text box's width */
    width: 300px;
}

/* stylize info window */
#info
{
    /* no margin around this element */
    margin: 0;

    /* allow scrollbars as needed */
    overflow: auto;
}
#info ul
{
    margin-bottom: 0;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
